html {
	font-family: Tahoma;
}

#gamelog-sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1b2e8c;
  overflow-x: hidden;
  color: white;
}

h2 {
	font-size: 20;
}

#gamelog {
	padding: 20px;
}

table {
	width: 100%
}

th {
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #4a5ad4;
}

#gamebackground {
	background-color: #fce9db;
	padding: 10px;
	display: inline-block;
}

#hider {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	cursor: pointer;
	color: white;
}

#shower {
	position: fixed;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25	%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.promotion {
	font-size: 30px;
	display: inline-block;
}

div#loading {
	display: inline-block;
	border: 3px solid hsla(12, 100%, 77%, 1);
	border-top-color: #de141e;
	border-radius: 50%;
	width: 0.7em;
	height: 0.7em;
	animation: spin 1s linear infinite;
}

div#waiting-text {
	display: inline;
}

div#waiting {
	padding-top: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}